alembic==1.3.2
aniso8601==8.0.0
asn1crypto==1.2.0
attrs==19.3.0
bcrypt==3.1.7
blinker==1.4
boto3==1.10.44
botocore==1.13.44
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
contentful==1.12.3
contentful-management==2.8.0
cryptography==2.8
decorator==4.4.1
Deprecated==1.2.7
docutils==0.14
docutils-stubs==0.0.21
elasticsearch==7.1.0
Flask==1.1.1
Flask-Bcrypt==0.7.1
flask-buzz==0.1.14
Flask-Cors==3.0.8
Flask-JWT-Extended==3.24.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
flask-marshmallow==0.11.0
Flask-Migrate==2.5.2
flask-praetorian==1.0.0
Flask-RESTful==0.3.7
Flask-S3==0.3.3
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.1
gunicorn==20.0.4
idna==2.8
inflection==0.3.1
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.9.4
Mako==1.1.0
Markdown==3.1.1
markdown-to-json==1.0.0
MarkupSafe==1.1.1
marshmallow==3.5.1
marshmallow-sqlalchemy==0.22.3
ndg-httpsclient==0.5.1
passlib==1.7.2
pendulum==2.0.5
Pillow==6.2.1
psycopg2-binary==2.8.4
pusher==2.1.4
pusher-chatkit-server==1.0.4
py-buzz==1.0.3
pyasn1==0.4.8
pycparser==2.19
PyGithub==1.46
PyJWT==1.7.1
PyNaCl==1.3.0
pyOpenSSL==19.1.0
python-dateutil==2.8.1
python-dotenv==0.10.3
python-editor==1.0.4
pytz==2019.3
pytzdata==2019.3
requests==2.22.0
s3transfer==0.2.1
six==1.13.0
SQLAlchemy==1.3.12
tornado==6.0.3
urllib3==1.25.7
Werkzeug==0.16.0
wrapt==1.11.2
